{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Check out these workouts!{% endblock %}</h1>
{% endblock %}

{% block content %}
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #555;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px 0;
}

button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #007B9A; /* Darker blue */
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

</style>

<button class="home-button" type="button" onclick="window.location.href='{{ url_for( "index" ) }}';">Home</button>

<ul>
    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.weighty" ) }}';">Weighty Wednesday</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.thirty" ) }}';">Thirty Thursday</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.pyramid" ) }}';">Pyramid</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.variety" ) }}';">Variety Hour</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.emoms" ) }}';">Emomonday</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.tabatas" ) }}';">Tabata</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.abs_" ) }}';">Only Abs</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.for_samon" ) }}';">For Samon</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.youvyou" ) }}';">You-V-You</button></li>

    <li><button type="button" onclick="window.location.href='{{ url_for( "workout.create_workout" ) }}';">Create Your Own Workout</button></li>
</ul>

{% endblock %}
